<?xml version="1.0"?>
<ruleset name="SortedLinkedList">
    <description>SortedLinkedList coding standard</description>
    <file>src</file>
    <file>tests</file>

    <rule ref="PSR12" />
</ruleset>
